html, body {
    font-family: 'Roboto Condensed' !important;
    color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Condensed' !important;
}

.text-just {
    line-height: 25px;
}

.cover {
    padding: 100px;
    /*padding-bottom: 200px;*/
    background-image: url("../images/index.png");
    /*height: 100vh;*/
}

.cover a {
    color: #000000;
    transition: 0.5s;
    font-weight: 400;
}

.cover a:hover {
    color: #336633;
    text-decoration: none;
}

.coverb {
    padding: 100px;
    /*padding-bottom: 200px;*/
    background-image: url("../images/calculate.png");
    /*height: 100vh;*/
}

.coverb a {
    color: #000000;
    transition: 0.5s;
    font-weight: 400;
}

.coverb a:hover {
    color: #336633;
    text-decoration: none;
}

.coverc {
    padding: 100px;
    /*padding-bottom: 200px;*/
    background-image: url("../images/result.png");
    /*height: 100vh;*/
}

.coverc a {
    color: #000000;
    transition: 0.5s;
    font-weight: 400;
}

.coverc a:hover {
    color: #336633;
    text-decoration: none;
}

.backgroundGrey {
    /*background: grey;*/
    /*border: 1px solid red;*/
    /*padding: 20px;*/
    /*color: #ffffff;*/
    /*font-weight: 500;*/
    text-decoration: none;
    font-size: 18px;
    /*width: 150px;*/
    /*text-align: center;*/
    background-color: rgba(249, 249, 249, 0.7);
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 40px;
    padding-left: 40px;
}

.btn {
    background-color: #336633;
}