html, body {
    font-family: 'Roboto Condensed' !important;
    color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Condensed' !important;
}

.flag-wrapper .flag {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}
.flag-icon-background {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
}

.cover {
    padding: 10px 10px 120px 0;
    background: no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.cover a {
    color: #000000;
    transition: 0.5s;
    font-weight: 400;
}

.cover a:hover {
    color: #336633;
    text-decoration: none;
}

.coverb {
    padding: 10px 10px 120px 0;
    background: no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.coverb a {
    color: #000000;
    transition: 0.5s;
    font-weight: 400;
}

.coverb a:hover {
    color: #336633;
    text-decoration: none;
}

.coverc {
    padding: 10px 10px 120px 0;
    background: no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.coverc a {
    color: #000000;
    transition: 0.5s;
    font-weight: 400;
}

.coverc a:hover {
    color: #336633;
    text-decoration: none;
}

.backgroundGrey {
    /*background: grey;*/
    /*border: 1px solid red;*/
    /*padding: 20px;*/
    /*color: #ffffff;*/
    /*font-weight: 500;*/
    text-decoration: none;
    font-size: 18px;
    /*width: 150px;*/
    /*text-align: center;*/
    background-color: rgba(249, 249, 249, 0.7);
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 40px;
    padding-left: 40px;
}

.btn {
    background-color: #336633;
}



/*A4*/
body {
    /*background: rgb(204,204,204);*/
}
page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
page[size="A4"] {
    width: 21cm;
    height: 29.7cm;
}
page[size="A4"][layout="portrait"] {
    width: 29.7cm;
    height: 21cm;
}
page[size="A3"] {
    width: 29.7cm;
    height: 42cm;
}
page[size="A3"][layout="portrait"] {
    width: 42cm;
    height: 29.7cm;
}
page[size="A5"] {
    width: 14.8cm;
    height: 21cm;
}
page[size="A5"][layout="portrait"] {
    width: 21cm;
    height: 14.8cm;
}
@media print {
    body, page {
        margin: 0;
        box-shadow: 0;
    }
}
/*A4*/

/*radio*/
